body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,200,98,1) 0%, rgba(0,191,255,1) 81%);
    font-family: Arial;
}

.block-content-content {
    display: flex;
    justify-content: center;
}

.block-content {
    flex-wrap: wrap;
    justify-content: start;
    display: flex;
    width: 50%;
}

.content {
    border-radius: 5px;
    background: #ffffff;
    margin: 10px;
    width: 136px;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 25%;
    margin-top: 10px;
}

.block-img {
    text-align: center;
}

.block-text {
    border-top: 1px solid #a4a4a4;
    margin-top: 10px;
    color: #808080;
    padding: 0;
    text-align: center;
}